{% extends "bg_base.html" %}
{% load admin_urls %}
{% block body %}
    <div class="flex items-center justify-center">
        <div class="p-8 shadow-md max-w-md w-full bg-white/10 rounded-3xl">
            <h2 class="text-2xl font-bold text-center mb-6">Your Profile</h2>
            <div class="text-center">
                <img src="{{ user.profile.profile_pic.url }}"
                     alt="{{ user.username }}"
                     class="w-24 h-24 rounded-full mx-auto mb-4">
                {{ user.first_name }}
                <p class="text-gray-200">Email: {{ user.email }}</p>
                {% comment %} <p class="mt-2 text-gray-200">{{ user.profile.bio }}</p> {% endcomment %}
            </div>
            <div class="mt-6 flex justify-center">
                {% comment %} <a href="{% url 'profile_edit' %}" class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded inline-flex items-center justify-center w-full">
                    Edit Profile
                </a> {% endcomment %}
                {% if user.is_superuser %}
                    <a href="{% url 'admin:index' %}"
                       class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded mx-auto">Admin Page</a>
                {% endif %}
                <a href="{% url 'logout' %}"
                   class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded mx-auto">Logout</a>
            </div>
        </div>
    </div>
{% endblock body %}
