{% extends "bg_base.html" %}
{% block body %}
    <div class="container mx-auto px-4 py-8">
        <div>
            <h1 class="text-2xl md:text-4xl font-extrabold dark:text-white">My Subscriptions</h1>
            <p class="my-4 text-lg text-gray-400">Explore your subscribed courses, streams, subjects, and special pages.</p>
        </div>
        {% if grouped_subscriptions %}
            <div class="flex flex-col gap-4">
                {% if grouped_subscriptions.special_pages %}
                    <h2 class="text-xl font-semibold text-white my-2">Special Pages</h2>
                    <div class="w-full mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 items-center gap-6">
                        {% for special_page in grouped_subscriptions.special_pages %}
                            {% url 'special_page_detail' special_page.slug as url %}
                            {% include 'courses/components/special_page_card.html' with special_page=special_page url=special_page_url %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if grouped_subscriptions.courses %}
                    <h2 class="text-xl font-semibold text-white my-2">Courses</h2>
                    <div class="w-full mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 items-center gap-6">
                        {% for course in grouped_subscriptions.courses %}
                            {% url 'course_detail' course.slug as url %}
                            {% include 'courses/components/course_card.html' with url=url item=course %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if grouped_subscriptions.subjects %}
                    <h2 class="text-xl font-semibold text-white my-2">Subjects</h2>
                    <div class="w-full mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 items-center gap-6">
                        {% for subject in grouped_subscriptions.subjects %}
                            {% url 'subject_detail' subject.slug as url %}
                            {% include 'courses/components/subject_card.html' with url=url subject=subject %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if grouped_subscriptions.streams %}
                    <h2 class="text-xl font-semibold text-white my-2">Streams</h2>
                    <div class="w-full mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 items-center gap-6">
                        {% for stream in grouped_subscriptions.streams %}
                            {% url 'stream_detail' stream.slug as url %}
                            {% include 'courses/components/stream_card.html' with url=url item=stream %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% else %}
                <p class="text-gray-400">You haven't subscribed to any courses, streams, subjects, or special pages yet.</p>
            {% endif %}
        </div>
    </div>
{% endblock body %}
