{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  <p>{% trans "Select the user to assign as the uploader for the following resources:" %}</p>
  <ul>
    {% for obj in queryset %}
      <li>
        {{ obj }}
        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}" />
      </li>
    {% endfor %}
  </ul>
  
  <div>
    <label for="user">{% trans "User" %}:</label>
    <select name="user" id="user" required>
        <option value="">---------</option>
        {% for user in users %}
            <option value="{{ user.id }}">{{ user.username }} ({{ user.first_name }} {{ user.last_name }}) - {{ user.email }}</option>
        {% endfor %}
    </select>
  </div>
  
  <input type="hidden" name="action" value="assign_credit_to_resources" />
  
  <div style="margin-top: 20px;">
    <input type="submit" name="apply" value="{% trans 'Apply Credit' %}" />
    <a href="#" onclick="window.history.back(); return false;" class="button cancel-link">{% trans "Cancel" %}</a>
  </div>
</form>
{% endblock %}
