{% extends 'bg_base.html' %}
{% block body %}
    <div class="container mx-auto py-10 px-4">
        <h1 class="text-4xl font-bold mb-6">All Blogs</h1>
        <div class="max-w-4xl">
            {% for blog in blogs %}
                <div class="w-full overflow-hidden items-stretch justify-between flex flex-col gap-2 h-full mx-auto border rounded-lg shadow-md bg-stone-800 border-gray-700 p-6 transition-transform transform">
                    <div class="flex w-full justify-between items-start">
                        <h2 class="text-xl font-bold text-white mb-4">
                            <a href="{{ blog.get_absolute_url }}" class="hover:underline">{{ blog.title }}</a>
                        </h2>
                    </div>
                    <div>
                        {% with 200 as limit %}
                            {% if blog.excerpt|length > limit %}
                                {{ blog.excerpt|slice:":200" }}...
                            {% else %}
                                {{ blog.excerpt }}
                            {% endif %}
                        {% endwith %}
                    </div>
                   
                    <div class="flex flex-wrap items-center text-sm justify-between mt-2">
                        <time class="rounded-full text-gray-400 font-bold">
                        {{ blog.publish_date }}</time>
                        <div class="hover:underline text-blue-500 font-bold group">
                            <a href="{{ blog.get_absolute_url }}"
                               title="{{ blog.title }} blog"
                               class="text-blue-400 hover:underline-offset-2 hover:underline font-medium flex w-fit justify-end gap-2 items-center rounded-full transition-colors">
                                Read More
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 24 24"
                                     fill="currentColor"
                                     class="w-7 h-auto group-hover:text-white rounded-full group-hover:bg-blue-400 transition-colors">
                                    <path fill-rule="evenodd" d="M16.72 7.72a.75.75 0 0 1 1.06 0l3.75 3.75a.75.75 0 0 1 0 1.06l-3.75 3.75a.75.75 0 1 1-1.06-1.06l2.47-2.47H3a.75.75 0 0 1 0-1.5h16.19l-2.47-2.47a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="-z-10 transition-all duration-300 absolute h-full inset-y-0 right-0 md:w-[106px] flex items-center w-[106px]">
                        <div class="md:h-[135%] bg-gray-700 scale-100 group-hover:scale-[400%] h-[135%] aspect-square flex items-center rounded-full transition-transform">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
