{% extends 'base.html' %}

{% block title %}{{resource.title}}Resource View{% endblock %}

{% block meta %}
<meta name="description" content="Welcome to our education platform. Browse courses, subjects, and resources.">
<meta name="keywords" content="education, courses, subjects, resources">

<script>
    window.viewPdf = function (_this) {
        let element = document.getElementById(_this.dataset.pdf)
        pdfName = (element.id.replace(/ /g, '%20'));

        if (_this.innerText === ("View Pdf")) {
            _this.innerText = "Close Pdf";
            _this.classList.replace("bg-yellow-600", "bg-red-600")
        } else {
            _this.innerText = "View Pdf";
            _this.classList.replace("bg-red-600", "bg-yellow-600")
        }

        if (element.style.display === "none") {
            element.style.display = "block";
            element.nextElementSibling.style.display = "block"
            element.src = `https://docs.google.com/gview?url={{resource.file.url|urlencode}}&embedded=true`

        } else {
            element.style.display = "none";
            element.nextElementSibling.style.display = "none"
        }
    }

</script>
{% endblock %}

{% block content %}
    <main class="min-h-[100vh] bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]">
        <div
            class="flex min-h-[80vh] flex-col justify-center h-full gap-4 px-4 mx-auto max-w-screen-xl lg:py-16 z-10 relative">
            <div>
                <div>
                    <h2 class="text-2xl md:text-4xl font-extrabold dark:text-white">{{resource.name}}</h2>
                    <p class="my-4 text-lg text-gray-400">{{resource.description}}</p>
                    <span>{{resource.type | upper}}</span>
                </div>

            </div>
            <div class="flex-col gap-2">
                <h2 class="text mb-6 text-justify">{{resource.description | title}}</h2>
                <div class="relative"> <iframe id="pdfviewer" sandbox="allow-scripts allow-same-origin"
                        src="https://docs.google.com/gview?url={{resource.file.url|urlencode}}&embedded=true"
                        style="display: block;"
                        class="w-full h-[90vh] relative z-10 mx-auto rounded-md overflow-hidden"></iframe>
                    <div
                        class="rounded-md w-full flex-col items-center justify-center -z-10 animate-pulse mx-auto left-0 right-0 h-[90vh] absolute top-0 bg-white/50">
                        <div class="text-center text-black">Click on Close PDF if it takes too long to load pdf</div>
                        <div class="w-80 rounded-full mx-auto absolute bottom-5 left-0 right-0 bg-white/40 h-10"></div>
                    </div>
                </div>

                <div class="space-x-1 mt-12">
                    <button onclick="viewPdf(this)" data-pdf="pdfviewer" class="rounded-full bg-red-600 p-2 px-3">Close
                        Pdf</button>

                    {%if "download" in resource.privacy%}
                    <a class="rounded-full bg-green-600 p-2 px-3" target="_blank" href="{{resource.file.url}}">Download
                        {{resource.file.size|filesizeformat}}
                        pdf</a>
                    {%endif%}
                </div>
            </div>
        </div>
        <div class="bg-gradient-to-b to-transparent from-slate-800 w-full h-full absolute top-0 left-0 -z-10">
        </div>
    </main>


{% endblock %}