{% extends 'base.html' %}
{%load static%}
{% block title %}Resources{% endblock %}

{% block meta %}
<meta name="description" content="List of all resources available on our platform.">
<meta name="keywords" content="resources, education, materials">
{% endblock %}

{% block content %}
<section id="resources"
    class="min-h-[100vh] bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]">
    <div
        class="flex min-h-[80vh] flex-col justify-center h-full gap-4  px-4 mx-auto max-w-screen-xl lg:py-16 z-10 relative">
        <div>
            <h1 class="text-2xl md:text-4xl font-extrabold dark:text-white">Available Resources for Students</h1>
            <p class="my-4 text-lg text-gray-400">Explore a variety of resources to
                enhance your knowledge and skills. Our offerings include lab manuals, previous year questions (PYQ),
                PDFs, and notes, updated regularly to support your learning journey. Access comprehensive materials
                for practicals, assignments, and exam preparation to excel in your studies.</p>
        </div>
        <div class="w-full mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 items-center gap-6">
            {% for resource in resources %}
            {%url 'resource_detail' resource.slug as url%}
        {#     {%include 'og-image.html' with item=resource.name%} #}
            {% include 'courses/components/resource/resource_card.html' with url=url item=resource %}
            {% endfor %}
        </div>


    </div>
    <div class="bg-gradient-to-b to-transparent from-slate-800 w-full h-full absolute top-0 left-0 -z-10">
    </div>
</section>

{% endblock %}